@font-face {
  font-family: "Firple";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Firple-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Firple";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Firple-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Firple";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Firple-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Firple";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/Firple-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Firple Slim";
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FirpleSlim-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Firple Slim";
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/FirpleSlim-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Firple Slim";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/FirpleSlim-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Firple Slim";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/FirpleSlim-BoldItalic.woff2") format("woff2");
}

body {
  font-family: "Firple Slim", sans-serif;
}

code,
pre,
.font-firple {
  font-family: "Firple", monospace;
}

.navbar {
  box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
}

.navbar-burger::before {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\EF3B";
  font-size: 1.2rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-burger.is-active::before {
  content: "\EB98";
}

.navbar-menu {
  font-weight: 700;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    display: block;
    position: absolute;
    font-weight: 700;
    width: 100%;
    opacity: 0%;
    transition-duration: 0.5s;
    pointer-events: none;
  }

  .navbar-menu.is-active {
    opacity: 100%;
    pointer-events: auto;
  }
}

.footer {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (min-width: 1200px) {

  .navbar,
  .main,
  .footer {
    padding-left: calc((100% - 1200px) / 2);
    padding-right: calc((100% - 1200px) / 2);
  }
}

.button {
  font-weight: 700;
  letter-spacing: .1em;
}

.button .icon {
  font-weight: 400;
}

h2.title::before {
  color: #485fc7;
  font-family: 'remixicon' !important;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.5em;
}

h2.title#about::before {
  content: "\F047";
}

h2.title#specs::before {
  content: "\F206";
}

h2.title#features::before {
  content: "\EC9D";
}

h2.title#families::before {
  content: "\ED8D";
}

h2.title#preview::before {
  content: "\F0D1";
}

h2.title#download::before {
  content: "\EC5A";
}

h2.title#changelog::before {
  content: "\ED0E";
}

h2.title#license::before {
  content: "\F0B7";
}

h3.title {
  color: #485fc7;
}

h3.title::before {
  font-family: 'remixicon' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-right: 0.5em;
  content: "\EB7B";
}

.field>label {
  user-select: none;
}

.field>label + label {
  margin-left: 1rem;
}

.textarea#preview-text {
  font-family: "Firple";
  padding: 1rem;
  margin-top: 2rem;
  font-size: 20px;
  line-height: 1.5em;
  height: 240px;
  min-height: auto;
  resize: none;
}